body {
  font-family: Avenir;
}

.wrapper {
  padding: 10px;
  width: 1080px;
  margin-left: auto;
  margin-right: auto;
}

btn {
  border: 0;
  border-radius: 0.25rem;
  font-family: system-ui, sans-serif;
  font-size: 1rem;
  background: gray;
  color: white;
  line-height: 1.2;
  white-space: nowrap;
  text-decoration: none;
  padding: 0.25rem 0.5rem;
  margin: 0.25rem;
  cursor: pointer;
}

btn:disabled {
  color: lightgray;
  cursor: default;
}

/* button for submitting query */
/* .submit-query */

/* code cell formatting */
/* .code-cell */