body {
  font-family: Avenir;
}

#wrapper {
  display: grid;
  grid-auto-rows: minmax(100px, auto);
  grid-gap: 10px;
  padding: 10px;
  width: 1080px;
  margin-left: auto;
  margin-right: auto;
}

#relation-summary {
  grid-column: 1;
  grid-row: 1/10;
}

#work-pad {
  grid-column: 2/5;
  grid-row: 1/10;
}

.data-type-Number {
  color: green;
}
.data-type-String {
  color: orange;
}


btn {
  border: 0;
  border-radius: 0.25rem;
  font-family: system-ui, sans-serif;
  font-size: 1rem;
  background: gray;
  color: white;
  line-height: 1.2;
  white-space: nowrap;
  text-decoration: none;
  padding: 0.25rem 0.5rem;
  margin: 0.25rem;
  cursor: pointer;
}

btn:disabled {
  color: lightgray;
  cursor: default;
}

.new-cell-btn {
  background: powderblue !important;
  font-weight: bold;
}

/* button for submitting query */
/* .submit-query */

/* code cell formatting */
/* .code-cell */

table {
  border-collapse: collapse;
}

td, th {
  font-weight: normal;
  border: 1px solid #999;
  padding: 0.5rem;
  text-align: left;
}