.DS_Store
node_modules/
build/
dist/
DIELParser$*
trash/
src/parser/grammar/*.ts
src/parser/grammar/*.ts
.antlr
data/

*.tsbuildinfo
*.tgz
*.java
*.class
*.tokens
*.jar
*tmp.*
*.map
*.d.ts
*.csv
*.txt
*.db
*.html
*.scrap
