.DS_Store
*.tgz
.antlr
*.java
*.class
*.tokens
*.jar
*tmp.*
trash/
code/dirgen/
code/compiled/
code/dist/
code/src/dist/
code/src/tests/dir/
node_modules/
code/src/parser/grammar/
code/src/debug/DIEL.g4
DIELParser$*
code/src/tests/T.g4
*.js.map
*.js
*.old
*.csv
*.txt
*.db
*.html
*.json
*.scrap
server/sample-data/charlottesville.sqlite
server/sample-data/fires.sqlite
server/sample-data/pitchfork.sqlite
